<html>
  <link rel="stylesheet" href="styles.css">

<body>
  <p><a href="filmperson.html" style="text-align: left; font-size: 10pt;" >Go to the film person page</a></p>

  <div style="text-align: center">
    <h1>Movies in the database</h1>

    <div>
      <p>[movie_id, name, year, plot, genre, num_likes, num_dislikes, rewards]</p>
      {% for n in movies %}
      <div style="text-align: left">{{n}}</div>
      {% endfor %}
    </div>

    <form method="POST" action="/add_movie">
    <p>Index of the movie: <input type="integer" name="mid"> </p>
    <p>Name of the movie: <input type="text" name="name"> </p>
    <p>Year of the movie: <input type="integer" name="year"> </p>
    <p>Plot of the movie: <input type="text" name="plot"> </p>
    <p>Genre of the movie: <input type="text" name="genre"> </p>
    <p>Number of likes of the movie: <input type="integer" name="num_likes"> </p>
    <p>Number of dislikes of the movie: <input type="integer" name="num_dislikes"> </p>
    <p>Rewards of the movie: <input type="text" name="rewards"> </p>
    <p><input type="submit" value="Add"></p>
    </form>
  </div>
  

</body>


</html>